/* ==========================================================================
Hero
========================================================================== */
.hero {
  position: relative;
  padding: 60px 0 60px 0;
  min-height: 800px;
  color: #fff;
}
.hero h1 {
  margin: 200px 0 45px 0;
  font-weight: 300;
  font-size: 45px;
}
.hero h1 span {
  display: inline-block;
  color: #a1a9b0;
}
#home {
  width: 100%;
  height: 100%;
}
.hero {
  width: 100%;
  height: 100%;
}
header i {
  margin-left: 5px
}

/* ==========================================================================
Video
========================================================================== */
section.video i {
  margin-right: 10px;
  color: #323a45;
  vertical-align: middle;
  font-size: 50px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
section.video h1 {
  font-weight: 400;
  font-size: 20px;
}
section.video {
  padding: 60px 0;
  background-color: #f6f7f9;
}
section.video a {
  color: #323a45
}
section.video a:hover, section.video a:focus {
  color: #73d0da;
  text-decoration: none;
}
section.video a:hover i, section.video a:focus i {
  color: #73d0da
}

/* ==========================================================================
Custom Slider Controls (Flickity)
========================================================================== */
.flickity-page-dots .dot {
  width: 13px;
  height: 13px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.flickity-page-dots .dot.is-selected {
  background: white;
}

/* ==========================================================================
Features Slider
========================================================================== */
/*.features-bg {
  position: relative;
  min-height: 400px;
  background: url('path/to/background-image.jpg') no-repeat center center;
  background-size: cover;
}*/
.features-img {
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
}
.features-slider {
  position: relative;
  padding: 11% 100px 10% 100px;
  height: 400px;
  background-color: #3F6184;
}
.features-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-slider ul li {
  width: 100%;
}
.features-slider li h1 {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
}
.features-slider li p {
  color: #fff;
  font-size: 14px;
}
.features-intro-img {
  position: relative
}
.slides li h1 {
  margin: 0;
  padding: 0;
}
.features-slider .flickity-page-dots {
  text-align: left;
  margin-top: 50px;
  position: static;
}
.features-slider .flickity-page-dots .dot {
  margin: 0 12px 0 0;
}

/* ==========================================================================
Features List
========================================================================== */
.features-list {
  padding: 100px 0;
  background: white;
  text-align: center;
}
.features-list h1 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #24374b;
  font-size: 20px;
}
.features-list p {
  margin-bottom: 20px;
  color: #778899;
}
.feature-content {
  display: inline-block;
  margin-left: 0;
  width: 65%;
  text-align: left;
}
.feature-icon {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 50px;
  width: 90px;
  height: 90px;
  border: solid 2px #4e9ba3;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  line-height: 90px;
}
.feature-icon i {
  color: #4e9ba3
}

/* ==========================================================================
Start Now
========================================================================== */
.start {
  padding: 120px 0;
  background-color: #3f6184;
}
.start h1 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}

/* ==========================================================================
Footer
========================================================================== */
footer {
  padding: 100px 0
}
footer p {
  color: #c7cacc;
  font-size: 12px;
}
footer ul {
  margin-top: 30px
}
footer li {
  float: left;
  margin-right: 15%;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
}
footer li a {
  color: #3f6184
}
footer li:last-child {
  margin-right: 0
}

/* ==========================================================================
Footer Nav
========================================================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 82, 113, 0.95);
}

/* Menu style */
footer nav {
  position: relative;
  top: 50%;
  height: 60%;
  text-align: center;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer ul {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}
footer ul li:last-child {
  margin-right: 0px
}
footer ul li i {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 40px;
}
footer ul li a {
  display: block;
  padding: 7px 3px 1px 3px;
  min-width: 190px;
  border-radius: 3px;
  background-color: #345271;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
footer ul li a:hover, footer ul li a:focus {
  border-color: #73d0da;
  color: #73d0da;
}

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
  visibility: hidden
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInDown, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible
}
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
