<header>
  <section class="hero">
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">Task Bunny</h1>
          <a class="btn btn-primary btn-lg" id="signInButton" href="#/tasks">Get Started</a>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="video" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><a href="https://www.youtube.com/watch?v=A9HV5O8Un6k?autoplay=1&wmode=opaque&fs=1" class="youtube-media" target="_blank"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>
      </div>
    </div>
  </div>
</section>
<section class="features-intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 nopadding features-intro-img">
        <div class="features-bg">
          <div class="texture-overlay"></div>
          <div class="features-img wp1">
            <img src="assets/img/bunny.png" alt="Bunny">
          </div>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="features-slider">
            <ul class="slides" id="featuresSlider">
              <li>
                <h1>The Latest Web Technology</h1>
                <p>Task Bunny was written with the latest and greatest technology (MongoDB,
                Express, Angular, Node) with the user experience in mind.</p>
                <p><a href="#/tasks" class="arrow-btn">Sign up now! <i class="fa fa-long-arrow-right"></i></a></p>
              </li>
              <li>
                <h1>User Centric Design</h1>
                <p> Start assigning and doing tasks in a couple of minutes, login using our secure and hassle free google authentication.</p>
                <p><a href="#/tasks" class="arrow-btn">Sign up now! <i class="fa fa-long-arrow-right"></i></a></p>
              </li>
              <li>
                <h1>Made with Love</h1>
                <p>Made by team chain-sugar, Mokhtar Naamani, David Chiang, Bryan Sayson </p>
                <p><a href="#/tasks" class="arrow-btn">Sign up now! <i class="fa fa-long-arrow-right"></i></a></p>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-list" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 feature-1 wp2">
          <div class="feature-icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="feature-content">
            <h1>Responsible</h1>
            <p>Built using the world's most powerful plugins, frameworks, and libraries available. You can trust our platform.</p>
            <a href="#/tasks" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-icon">
            <i class="fa fa-flash"></i>
          </div>
          <div class="feature-content">
            <h1>Purposeful</h1>
            <p>Perfect if you want to run a part time job and offer your service. Task Bunny can help you convert productivity into income.</p>
            <a href="#/tasks" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
          <div class="feature-icon">
            <i class="fa fa-heart"></i>
          </div>
          <div class="feature-content">
            <h1>Absolutely Convenient</h1>
            <p>As aways, use our service for your personal errands. If you love Task Bunny and want to thank us, simply show us some love on <a href="https://github.com/chainsugar/chainsugar">github</a>. </p>
            <a href="#/tasks" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="start">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wp4">
        <h1>Seen Enough?</h1>
        <a href="#/tasks" class="start-btn">Join Us!</a>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
        <li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
        <li><a href=""><i class="fa fa-edit"></i>Apply</a></li>
        <li><a href=""><i class="fa fa-suitcase"></i>Tasks</a></li>
      </ul>
    </nav>
    <div class="credits text-center">
      <p>Designed &amp; Developed by David Chiang, Mokhtar Naamani, and Bryan Sayson</p>
    </div>
  </div>
</footer>
<!-- landing script -->
<script src="assets/js/landing.script.js"></script>
