<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<div class="container">
  <form class="form-horizontal animated fadeInDown" ng-submit='createTask()'>
    <fieldset>
      <legend class="form-header">Create a New Task</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name of Task</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" placeholder="wash dishes" ng-model="form.name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputCost" class="col-lg-2 control-label">Cost</label>
        <div class="col-lg-10">
          <input type="number" class="form-control" id="inputCost" placeholder="$10" ng-model="form.cost">
        </div>
        <label for="inputDate" class="col-lg-2 control-label">Deadline</label>
        <div class="col-lg-10">
          <input type="date" class="form-control" id="inputDate" placeholder="2011-01-13" ng-model="form.deadline">
        </div>
        <label for="inputCity" class="col-lg-2 control-label">City</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCity" placeholder="San Francisco" ng-model="form.city">
        </div>
        <label for="textArea" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" ng-model="form.description"></textarea>
          <!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->
        </div>
        <label for="inputImage" class="col-lg-2 control-label">Image</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputImage" placeholder="Image Url" ng-model="form.image">
        </div>
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" ng-click='redirectCall()'>Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
